
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20rem;
    margin-top: 2rem;
    z-index: -2;
  }
  
  .card {
    margin: 20px;
    border: 2px solid #ededed;
    padding: 20px;
    cursor: pointer;
  }
  
  .card-img {
    width: 13rem;
    margin-bottom: 1rem;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-reviews {
    margin-bottom: 1rem;
    display: flex;
  }
  
  .rating-star {
    color: #d5ab55;
  }
  
  .total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  
  .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bag-icon {
    color: #535353;
  }
  

/*.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 15rem;
  z-index: -2;
}
.card{
    
    padding: 20px;
    margin: 50px;
    border: 2px solid #ededed;
    border-radius: 10px;
    cursor: pointer;
}
.card-img{
  width: 13rem;

   /* height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
.card-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card-reviews{
    display: flex;
    align-items: center;
   /* justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-star{
    color: #f8d62b;
    margin-right: 5px;
}
.totol-reviews{
    font-weight: bold;
}
.card-price{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-company .company{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.card-color .color {
  font-size: 20px;
  font-weight: 600;
    margin-bottom: 15px;
    
}*/
