nav {
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    margin-left: 2rem;
  }
  
  input {
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 14rem;
  }
  
  .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 767px) {
    .container {
      width: 200px;

    }
    .nav{
      margin-left: 1rem;

    }
    .search-input{
      width: 120px;
      margin-left: 30px;


    }
    .nav-icons {
      width: 40px;
      margin-left: 1px;
      
    }
    .profile-container{
      display: flex;
    }
  }
  
  
  @media (min-width: 768px) {
    .container {
      width: 750px;

    }
  }

  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  