.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #f3f3f3;
    z-index: 999;
    margin-left: 20rem; 
    height: 100px;

}
.search-input{
    height: 50px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 500px;
    margin-right: 1rem;
    outline: none;
    position: relative;
}
.nav-icons{
margin-left: 2rem;
width: 100px;
height: 100px;
}
.icons{
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
}