.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .container-re {
    width: 100%;
    display: flex;
    flex-direction: column;

  }
  .recommended-title {
margin-left: 130px;
}
.recommended-flex{
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 8rem;
}
.recommended-flex .btns{
  margin-left: 5px;
}}


@media (min-width: 768px) {
  .container {
    width: 750px;

  }
}


@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
